@using System.Text.Json
@{
    ViewData["Title"] = "Cadastrar Aluno";
}
@model BlackBelt.Models.Aluno

<style>
    .btn-cadastrar {
        background-color: #C49A6C;
        color: white;
        border-radius: 20px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
   
</style>
<h1 class="text-center m-5">Cadastrar Aluno</h1>

<div class="container" style="width:500px;">
<form asp-action="CadastrarAluno" asp-controller="Alunos" method="post">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Nome">
        <label for="Nome">Nome</label>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="text" id="cpfInput" class="form-control" asp-for="Cpf">
        <label for="Cpf">CPF</label>
        <span asp-validation-for="Cpf" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" asp-for="Email">
        <label for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="text" id="telefoneInput" class="form-control" asp-for="Telefone">
        <label for="Telefone">Telefone</label>
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="date" class="form-control" asp-for="Dt_Nascimento">
        <label for="Dt_Nascimento">Data de nascimento</label>
        <span asp-validation-for="Dt_Nascimento" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" asp-for="Faixa">
        <label for="Faixa">Faixa</label>
        <span asp-validation-for="Faixa" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" asp-for="Id_Turma">
            <option selected>Selecione a turma</option>
            @if (ViewData["Turmas"] != null)
            {
                var turmas = ViewData["Turmas"] as IEnumerable<Turma>;
                foreach (var turma in turmas)
                {
                    <option value="@turma.Id">@turma.Nome.ToString()</option>
                }
            }
        </select>
        <label for="floatingSelect">Turma</label>
        <span asp-validation-for="Id_Turma" class="text-danger"></span>
    </div>

        <div class="text-center mb-4 m-3">
            <a class="btn btn-dark" style="border-radius: 20px;width:100px;" asp-area="" asp-controller="Alunos" asp-action="Index">Voltar</a>
            <button type="submit" class="btn btn-cadastrar" style="border-radius: 20px;">Salvar</button>

        </div>

</form>
</div>


@if (TempData["ErroCadastroAluno"] != null)
{
    <script>
        alert(@Html.Raw(JsonSerializer.Serialize(TempData["ErroCadastroAluno"])));
    </script>
}

@if (TempData["ErroCpfAluno"] != null)
{
    <script>
        alert(@Html.Raw(JsonSerializer.Serialize(TempData["ErroCpfAluno"])));
    </script>
}

@* adicionando função pra mascara de cpf e telefone *@
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <script>
        $(document).ready(function () {
            // mascara pro CPF
            $('#cpfInput').mask('000.000.000-00');

            // remove a máscara de CPF antes de enviar pro banco
            $('form').on('submit', function () {
                const rawCpf = $('#cpfInput').val().replace(/\D/g, '');
                $('#cpfInput').val(rawCpf);

                const telefoneSemMascara = $('#telefoneInput').val().replace(/\D/g, '');
                $('#telefoneInput').val(telefoneSemMascara);
            });

            // mascara pro telefone
            function aplicarMascaraTelefone() {
                const input = $('#telefoneInput');
                input.unmask();

                const numeros = input.val().replace(/\D/g, '');
                input.mask('(00) 0000-0000');
            }

            $('#telefoneInput').on('blur', aplicarMascaraTelefone);

            // aplica máscara inicial
            aplicarMascaraTelefone();
        });
    </script>
}